$bg: #ececec;
@import 'reset';
@mixin list-style {
    list-style: none;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.black-line-top {
    height: 7px;
    background: #1f1f1f;
}
body {
    background: $bg;
}
.main-container {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 11px;
    padding-bottom: 14px;
}
.top-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    &_link {
        text-decoration: none;
        color: #595959;
        font-size: 14px;
        padding: 0 12px;
        &:hover {
            color: #c42d21;
        }
    }
    &_item {
        border-right: 1px solid #595959;
        &:last-of-type {
            border-right: none;
        }
    }
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to top, #a21b11 0%, #c24c3b 100%);
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 13px;
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    @include list-style;
    &__link {
        text-decoration: none;
        color: #ececec;
        font-weight: bold;
        display: block;
        padding: 10px 20px;
        line-height: 23px;
        &:hover {
            background: #272727;
        }
        &_active {
            background: #272727;
        }
    }
}
.nav-phone {
    background: url(https://cloclo4.datacloudmail.ru/view/img/nav_menu_layout.png?etag=4F8BB3ECA07D6E74DBB7762327B6205F22E821A4&x-email=badbe%40bk.ru) no-repeat;
    background-size: cover;
    flex: 1;
    padding: 11px 0;
    color: #ececec;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    padding-right: 23px;
}
.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-slider {
        max-width: 675px;
        flex: 1;
        position: relative;
        &__nav {
            position: absolute;
            right: 34px;
            bottom: 13px;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding: 0 5px;
                margin: 0;
                button {
                    border-radius: 50%;
                    border: none;
                    background: #ececec;
                    color: #ececec;
                    width: 10px;
                    height: 10px;
                    cursor: pointer;
                    font-size: 0;
                    position: relative;
                    &[aria-selected="true"] {
                        &::before {
                            position: absolute;
                            content: '';
                            width: 17px;
                            height: 16px;
                            border: 1px solid #ececec;
                            border-radius: 50%;
                            top: -4px;
                            left: -3.5px;
                        }
                    }
                }
            }
        }
        &__img {
            width: 100%;
            height: 100%;
        }
    }
    &-login {
        max-width: 271px;
        flex: 1;
        background: #000;
        display: flex;
        flex-direction: column;
        padding: 16px 29px 15px 29px;
        background: url(https://cloclo30.datacloudmail.ru/view/img/bg-login-form.png?etag=610691403A0D4316CDD96685D8F5FD1155A9E02E&x-email=badbe%40bk.ru) no-repeat;
        background-color: #000;
        border-radius: 5px;
        input {
            background-image: linear-gradient(to top, #ffffff 0%, #e4e7e7 86%, #bdbdbd 100%);
            padding: 8px 15px;
            height: 25px;
            &::placeholder {
                opacity: 0.5;
                color: #595959;
                font-family: "Helvetica Neue";
                font-size: 14px;
                font-weight: 400;
                line-height: 22px; 
            }
        }
        &__username {
            margin-bottom: 12px;
        }
        &__login {
            max-width: 85px;
            margin: 0 auto;
            padding: 11px 15px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.26);
            color: #ececec;
            font-family: "Helvetica LT Std";
            font-size: 18px;
            font-weight: 700;
            background: linear-gradient(#df4234, #c03124);
            border: none;
            border-radius: 5px;
            margin-bottom: 19px;
        }
        &__remember {
            color: #e4e7e7;
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px; 
        }
        &__checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__forgetpassword {
            color: #e4e7e7;
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-decoration: none;
            text-align: center;
            margin-bottom: 13px; 
        }
        &__password {
            margin-bottom: 14px;
        }
        &__question {
            color: #ececec;
            font-family: "Helvetica Neue LT - Medium Cond";
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 14px;
        }
        &__openacc {
            max-width: 184px;
            margin: 0 auto;
            border: none;
            padding: 11px 20px;
            background: linear-gradient(#df4234, #c03124);
            border-radius: 5px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.26);
            color: #ececec;
            font-family: "Helvetica LT Std";
            font-size: 18px;
            font-weight: 700; 
        }
    }
}
.slider-link-first, .slider-link-second, .slider-link-third, .slider-link-four {
    display: block;
    width: 8px;
    height: 8px;
    background: #e8e9e8;
    border-radius: 50%;
    margin: 0 4px;
    position: relative;
    &:last-of-type {
        margin-right: 0;
    }
    &_active::before {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        background: transparent;
        border-radius: 50%;
        border: 1px solid #e8e9e8;
        top: -2px;
        left: -2px;
    }
}
.media-login__title {
    color: #ececec;
    font-family: "Helvetica Neue LT - Medium Cond";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase; 
    position: relative;
    padding-left: 30px;
    margin-bottom: 19px;
    &::before {
        content: '';
        position: absolute;
        background: url(/img/login_icon.png) no-repeat;
        width: 21px;
        height: 21px;
        left: 0;
        top: 0;
    }
}
.content {
    display: flex;
    flex-wrap: wrap;
    &-specialist {
        padding-right: 16px;
        &__title {
            color: #595959;
            font-family: "Helvetica Neue CE";
            font-size: 22px;
            font-weight: 700;
            line-height: 22px;
            span {
                color: #e24335;
            } 
        }
        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        &__item {
            color: #737070;
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            position: relative;
            padding-left: 23px;
            &::before {
                content: '';
                position: absolute;
                width: 13px;
                height: 13px;
                background: url(/img/icon_ul_li.png) no-repeat;
                background-position: 0 0;
                left: 0;
                top: 8px;
            } 
        }
    }
}
.content-howit {
    flex: 1;
    &__title {
        color: #595959;
        font-family: "Helvetica Neue CE";
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        span {
            color: #e24335;
        } 
    }
}
.howit-steps {
    border: 1px solid rgba(0, 0, 0, 0.14);
    background-color: #f2f4f4;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    &__text {
        color: #737070;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        padding: 0;
        margin: 0;
    }
    &__step {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &-second {
            background: url(/img/step-line.png) no-repeat;
            flex: 1;
            background-position: 50% 0;
        }
    }
}
.page-footer {
    background: #1f1f1f;
    padding: 25px 0;
}
.page-footer-container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: auto;
    align-items: center;
    p {
        padding: 0;
        margin: 0;
    }
    &__text {
        padding: 0;
        margin: 0;
        &-secure {
            color: #ebe8e8;
            font-family: "Bebas Neue";
            font-size: 28px;
            font-weight: 400;
            line-height: 31px;
            text-transform: uppercase;
        }
        &-copyright {
            color: #ececec;
            font-family: Helvetica;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: right; 
        }
    }
}
.nav-mobile-menu {
    padding: 25px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    display: none;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}
.menu-hide {
    display: flex !important;
}
@media (max-width: 1000px) {
    .main-container {
        padding: 0 3%;
    }
    .page-footer {
        padding: 25px 3%;
    }
    .media-slider {
        max-width: 500px;
    }
    .nav-phone {
        background: #000;
    }
}
@media (max-width: 915px) {
    .nav-phone {
        font-size: 14px;
        line-height: 20px;
    }
    .nav-menu__link {
        font-size: 14px;
    }
    .howit-steps__step-second {
        background: none;
    }
}
@media (max-width: 850px) {
    .media {
        flex-wrap: wrap;
    }
    .media-slider {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .media-login {
        max-width: 100%;
        background: #000;
    }
    .nav-phone {
        text-align: center;
        font-size: 25px;
        line-height: 0;
        width: 100%;
        padding: 25px 0;
    }
    .nav-menu__link_active {
        background: none;
    }
    .nav {
        flex-direction: column;
    }
}
@media (max-width: 760px) {
    .howit-steps {flex-direction: column;}
    .howit-steps__step:not(:last-of-type) {
        margin-bottom: 20px;
    }
}
@media (max-width: 630px) {
    .nav-mobile-menu {
        display: block;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-menu__link  {
        text-align: center;
        font-size: 25px;
        background: #A03F31;
    }
}
@media (max-width: 520px) {
    .page-footer-container {
        grid-template-columns: repeat(1, 0.5fr);
        justify-content: center;
    }
    .page-footer-container__text-secure {
        text-align: center;
        margin-bottom: 35px !important;
    }
    .page-footer-container__text-copyright {
        text-align: center;
    }
}
@media (max-width: 350px) {
    .nav-phone {
        font-size: 18px;
    }
    .page-footer-container__text-secure {
        font-size: 20px;
    }
    .page-footer-container__text-copyright {
        font-size: 16px;
    }
    .page-header__logo img {
        width: 100%;
    }
    .page-header__menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .top-menu {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .top-menu_item {
        border: none;
        padding: 15px 0;
    }
}